.card-container {
  perspective: 1000px;
}

.card-content {
  transition: transform 0.5s;
}

.card-container:hover .card-content {
  transform: perspective(1000px) rotateY(-8deg) rotateX(-2deg) scale(1.05);
}
