#root {
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 0em;
}

.read-the-docs {
  color: #888;
}

#experience .glass-card {
  position: relative;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 1000px;
  transition: box-shadow 0.3s ease-in-out;
}


#experience .glass-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    110deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  transform: skewX(-25deg);
  transition: left 2.5s;
}

#experience .glass-card:hover::before {
  left: 150%;
}

.tilt-card {
  transition: all 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  transform-style: preserve-3d;
}

.tilt-card:hover {
  transform: perspective(1000px) rotateY(-8deg) rotateX(-2deg) scale(1.05);
}

.profile-pic-adjustment {
  object-position: 50% 15%;
}
